:root {
  --primary-color: #426b1f;
  --secondary-color: #686666;
  --secondary-font-color: white;
  --primary-font: "Newsreader", serif, Arial;
  --secondary-font: "Inter", serif, Arial;
  --primary-padding: 50px;
  --secondary-padding: 25px;
  --primary-font-size: 3rem;
  --secondary-font-size: 2rem;
  --small-font-size: 1.5rem;
  --tiny-font-size: 1rem;
  --border-color: #d9d9d9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: var(--secondary-font);
  overflow: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

main {
  display: flex;
  min-height: 100vh;
}

header {
  position: absolute;
  text-align: right;
  color: var(--primary-color);
  font-family: var(--primary-font);
  width: 100%;
  padding: var(--secondary-padding);
}

header > h1 {
  font-size: var(--secondary-font-size);
  font-weight: 500;
}

.create-account {
  width: 50%;
  padding: var(--primary-padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.create-account > h1,
.create-account > p {
  font-family: var(--primary-font);
  text-align: center;
}

.create-account > h1 {
  font-size: var(--primary-font-size);
}

.create-account > p {
  font-size: var(--small-font-size);
  color: var(--secondary-color);
  margin-bottom: 40px;
}

.row {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.put-text {
  display: flex;
  flex-direction: column;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  border-radius: 4px;
  min-width: 150px;
  padding: 8px;
  border: 1px solid var(--border-color);
  width: 100%;
}

input[type="checkbox"] {
  accent-color: var(--primary-color);
  cursor: pointer;
}

input:focus {
  outline: none;
  border: 2px solid var(--primary-color);
}

input:invalid {
  border: 2px solid red;
}

input:not(:focus):invalid {
  border-color: var(--border-color);
}

button {
  cursor: pointer;
  color: var(--secondary-font-color);
  background-color: var(--primary-color);
  border: none;
  padding: 10px 90px;
  border-radius: 10px;
  margin-bottom: 8px;
}

button:hover {
  opacity: 0.8;
}

.log-in {
  text-align: center;
}

a {
  color: var(--primary-color);
}

a::after {
  content: url("./images/external-link-green.svg");
  margin-left: 4px;
  vertical-align: middle;
}

a:hover {
  text-decoration: none;
}

a:hover::after {
  content: url("./images/external-link-black.svg");
}

.submit {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.checkbox {
  width: max-content;
}

.main-image {
  background-image: url("./images/jonathan-kemper.png");
  background-size: cover;
  font-family: var(--primary-font);
  color: var(--secondary-font-color);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: var(--primary-font-size);
  width: 50%;
  padding: var(--primary-padding);
}

.main-image > p > span {
  font-style: italic;
  font-weight: bold;
}

.image-owner {
  align-self: flex-end;
  font-size: var(--tiny-font-size);
}

.image-owner > a {
  color: var(--secondary-font-color);
}

.image-owner > a::after {
  content: url("./images/external-link-white.svg");
}
